@charset "utf-8";

body{
    text-align: center;
    margin-top: 120px;
}
#result{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 30px;
    padding: 5px 15px;
    /* text-align: end; */
    background: black;
    color: aliceblue;
}
#container{
    display: inline-block;
    /* 突き抜けて表示されているのを修正 */

}
table{
    table-layout: fixed;
    /* 文字ごとに幅が変わらないよう整列させる */
}
td{
    width: 60px;
    height: 20px;
}
button{
    height: 100%;
    width: 100%;
}